/* Media Query Breakpoint Variables */
/* Mixings (Breakpoints) */
/* Basic Styling */
* {
  color: #666666;
}

a {
  text-decoration: none;
  font-weight: bold;
}

/* Login & Register Page */
.loginPage, .registerPage {
  width: 100%;
  min-height: 100vh;
  background-color: #F7F9FC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loginPage .wrapperLogin, .loginPage .wrapperRegister, .registerPage .wrapperLogin, .registerPage .wrapperRegister {
  width: 100%;
  text-align: center;
  margin: 5vh 0;
}

@media screen and (min-width: 481px) {
  .loginPage .wrapperLogin, .loginPage .wrapperRegister, .registerPage .wrapperLogin, .registerPage .wrapperRegister {
    width: 80%;
  }
}

@media screen and (min-width: 840px) {
  .loginPage .wrapperLogin, .loginPage .wrapperRegister, .registerPage .wrapperLogin, .registerPage .wrapperRegister {
    width: 80%;
  }
}

@media screen and (min-width: 1025px) {
  .loginPage .wrapperLogin, .loginPage .wrapperRegister, .registerPage .wrapperLogin, .registerPage .wrapperRegister {
    width: 60%;
  }
}

.loginPage .wrapperLogin .logoImg, .loginPage .wrapperRegister .logoImg, .registerPage .wrapperLogin .logoImg, .registerPage .wrapperRegister .logoImg {
  display: none;
  width: 40%;
}

@media screen and (min-width: 840px) {
  .loginPage .wrapperLogin .logoImg, .loginPage .wrapperRegister .logoImg, .registerPage .wrapperLogin .logoImg, .registerPage .wrapperRegister .logoImg {
    display: none;
  }
}

@media screen and (min-width: 1025px) {
  .loginPage .wrapperLogin .logoImg, .loginPage .wrapperRegister .logoImg, .registerPage .wrapperLogin .logoImg, .registerPage .wrapperRegister .logoImg {
    display: inline-block;
    width: 20em;
  }
}

.loginPage .wrapperLogin .loginText, .loginPage .wrapperRegister .loginText, .registerPage .wrapperLogin .loginText, .registerPage .wrapperRegister .loginText {
  font-size: 2em;
  margin-top: .5em;
}

@media screen and (min-width: 481px) {
  .loginPage .wrapperLogin .loginText, .loginPage .wrapperRegister .loginText, .registerPage .wrapperLogin .loginText, .registerPage .wrapperRegister .loginText {
    font-size: 3em;
  }
}

.loginPage .wrapperLogin .infoText, .loginPage .wrapperRegister .infoText, .registerPage .wrapperLogin .infoText, .registerPage .wrapperRegister .infoText {
  margin: 0 auto;
  width: 80%;
}

@media screen and (min-width: 481px) {
  .loginPage .wrapperLogin .infoText, .loginPage .wrapperRegister .infoText, .registerPage .wrapperLogin .infoText, .registerPage .wrapperRegister .infoText {
    font-size: 1.4em;
  }
}

/* All Input Components Container */
.allInputsContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* Input Component */
.inputContainer {
  width: 70%;
  margin: 1em auto;
  border-bottom: rgba(102, 102, 102, 0.3) 1px solid;
}

@media screen and (min-width: 481px) {
  .inputContainer {
    margin: 1em auto;
  }
}

@media screen and (min-width: 840px) {
  .inputContainer {
    width: 40%;
  }
}

@media screen and (min-width: 1025px) {
  .inputContainer {
    width: 40%;
    margin: 1.5em auto;
  }
}

.inputContainer input {
  width: 80%;
  height: 2em;
  background-color: #F7F9FC;
  text-align: center;
  border: none;
  position: relative;
  line-height: 2em;
  font-size: 1em;
}

.inputContainer input:focus {
  outline: none;
}

@media screen and (min-width: 481px) {
  .inputContainer input {
    line-height: 3em;
    height: 3em;
    font-size: 1.5em;
  }
}

@media screen and (min-width: 1025px) {
  .inputContainer input {
    height: 1.5em;
    line-height: 1.5em;
    font-size: 1.2em;
  }
}

.inputContainer input::-webkit-input-placeholder {
  opacity: .5;
}

.inputContainer input:-ms-input-placeholder {
  opacity: .5;
}

.inputContainer input::-ms-input-placeholder {
  opacity: .5;
}

.inputContainer input::placeholder {
  opacity: .5;
}

.inputContainer .icon {
  width: 15px;
  color: #666666;
  position: absolute;
  margin-top: .5em;
}

@media screen and (min-width: 481px) {
  .inputContainer .icon {
    height: 1.5em;
    width: 1.5em;
    margin-top: 1.5em;
  }
}

@media screen and (min-width: 1025px) {
  .inputContainer .icon {
    margin-top: 0;
  }
}

/* Submit Button */
.submitButtonContainer {
  width: 30%;
  height: 2.8em;
  margin: 2em auto;
  line-height: 2.5em;
  border-radius: 25px;
  -webkit-box-shadow: 0 0.2em 1em rgba(102, 102, 102, 0.5);
          box-shadow: 0 0.2em 1em rgba(102, 102, 102, 0.5);
}

@media screen and (min-width: 481px) {
  .submitButtonContainer {
    margin: 2.5em auto;
  }
}

@media screen and (min-width: 1025px) {
  .submitButtonContainer {
    width: 20%;
  }
}

.submitButtonContainer .icon {
  margin-top: .6em;
  height: 1.5em;
  width: 1.5em;
  color: #666666;
}

/* Info Component */
.infoContainer {
  width: 80%;
  margin: 0 auto;
  padding: .5em;
  position: relative;
  border: 1px #666666 solid;
  border-radius: 10px;
}

@media screen and (min-width: 1025px) {
  .infoContainer {
    width: 350px;
    font-size: 1em;
    position: absolute;
    z-index: 999;
    top: 5vh;
    right: 2vw;
    border: none;
    background-color: rgba(250, 102, 102, 0.3);
    -webkit-box-shadow: 0 0.2em 0.9em rgba(102, 102, 102, 0.5);
            box-shadow: 0 0.2em 0.9em rgba(102, 102, 102, 0.5);
  }
}

.infoContainer ol {
  line-height: 2em;
  margin: 0 auto;
}

@media screen and (min-width: 481px) {
  .infoContainer ol {
    margin: 1em auto;
    width: 70%;
    font-size: 1.2em;
  }
}

@media screen and (min-width: 1025px) {
  .infoContainer ol {
    width: 100%;
    font-size: .8em;
  }
}

.infoContainer .infoCloseIcon {
  position: absolute;
  left: 79vw;
  top: .5vh;
}

@media screen and (min-width: 481px) {
  .infoContainer .infoCloseIcon {
    font-size: 1.4em;
    left: 61.5vw;
    top: 1vh;
  }
}

@media screen and (min-width: 1025px) {
  .infoContainer .infoCloseIcon {
    font-size: 1.2em;
    left: 340px;
    top: 5px;
  }
}
/*# sourceMappingURL=style.css.map */