
$grey: #666666;
$backgroundColor: #F7F9FC;
$iconSize: 15px;
$boxShadow: 0 .2em 1em rgba($color: #666666, $alpha: .5);
$lightBoxShadow: 0 .2em .5em rgba($color: #666666, $alpha: .4);
$wrapperWidth: 85%;
$wrapperWidthTabletPortait: 70%;

$navigationHeight: 80px;




////////* RESPONSIVE *////////

/* Media Query Breakpoint Variables */
$breakpoint-tablet: 481px;
$breakpoint-tablet-portait: 840px;
$breakpoint-desktop: 1025px;

/* Mixings (Breakpoints) */
@mixin tablet {
    @media screen and (min-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin tablet-portait {
    @media screen and (min-width: $breakpoint-tablet-portait) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $breakpoint-desktop) {
        @content;
    }
}




////////* GENERAL STYLING *////////

* {
    color: $grey;
}

body {
    background-color: #F7F9FC;
}

a {
    text-decoration: none;
    font-weight: bold;
}

p {
    margin: 0;
}




////////* AUTHENTIFICATION *////////

/* Login & Register & Forgot Password */

.loginPage, .registerPage, .forgotPasswordPage {
    width: 100%;
    min-height: 100vh;
    background-color: $backgroundColor;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;

    .wrapperLogin, .wrapperRegister, .wrapperForgotPassword {
        
        width: 100%;
        text-align: center;
        margin-bottom: 5vh;

        @include tablet {
            margin-bottom: 0;
        }

        @include tablet-portait {
            margin-bottom: 0;
        }

        @include desktop {
            margin-bottom: 0;
        }

        .logoImg {
            display: none;
            width: 40%;

            @include tablet-portait {
                display: none;
            }

            @include desktop {
                display: inline-block;
                width: 20em;
            }
        }
        
        .loginText {
            font-size: 2em;
            margin-top: .5em;

            @include tablet {
                font-size: 3em;
            }
        }

        .infoText {
            margin: 0 auto;
            width: 80%;

            @include tablet {
                font-size: 1.4em;
            }
        }
    }
}


/* All Input Components Container */

.allInputsRegisterContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.allInputsLoginContainer {
    width: 100%;
    display: grid;
    flex-wrap: wrap;
}


/* Input Component */

.inputContainer {
    width: 70%;
    margin: 1em auto;
    border-bottom: rgba($color: #666666, $alpha: .3) 1px solid;

    @include tablet {
        margin: 1em auto;
    }

    @include tablet-portait() {
        width: 40%;
    }

    @include desktop() {
        width: 40%;
        margin: 1.5em auto;
    }

    input {
        width: 80%;
        height: 2em;
        background-color: $backgroundColor;
        text-align: center;
        border: none;
        position: relative;
        line-height: 2em;
        font-size: 1em;


        &:focus {
            outline: none;
        }

        &::placeholder {
            opacity: .5;
        }

        @include tablet {
            line-height: 3em;
            height: 3em; 
            font-size: 1.5em;
        }

        @include desktop() {
            height: 1.5em;
            line-height: 1.5em;
            font-size: 1.2em;
        }

         
    }

    .icon {
        width: $iconSize;
        color: $grey;
        position: absolute;
        margin-top: .5em;

        @include tablet {
            height: 1.5em;
            width: 1.5em;
            margin-top: 1.5em;
        }

        @include desktop() {
            margin-top: 0;
        }
    }
}


/* Submit Button */

.submitButtonContainer {
    width: 30%;
    height: 2.8em;
    margin: 2em auto;
    line-height: 2.5em;
    border-radius: 25px;
    box-shadow: 0 .2em 1em rgba($color: #666666, $alpha: .5);

    @include tablet {
        margin: 2.5em auto;
    }

    @include desktop {
        width: 20%;
    }

    .icon {
        margin-top: .6em;
        height: 1.5em;
        width: 1.5em;
        color: $grey;
    }
}


/* Info Component */

.infoContainer {
    width: 80%;
    margin: 0 auto;
    padding: .5em;
    position: relative;
    border: 1px $grey solid;
    border-radius: 10px;

    @include desktop() {
        width: 350px;
        font-size: 1em;
        position: absolute;
        z-index: 999;
        top: 5vh;
        right: 2vw;
        border: none;
        background-color: rgba($color: #fa6666, $alpha: .3);
        box-shadow: 0 .2em .9em rgba($color: #666666, $alpha: .5);
    }

    ol {
        line-height: 2em;
        margin: 0 auto;

        @include tablet() {
            margin: 1em auto;
            width: 70%;
            font-size: 1.2em;
        }

        @include desktop() {
            width: 100%;
            font-size: .8em;
        }
    }

    .infoCloseIcon {
        position: absolute;
        left: 79vw;
        top: .5vh;

        @include tablet() {
            font-size: 1.4em;
            left: 61.5vw;
            top: 1vh;
        }

        @include desktop() {
            font-size: 1.2em;
            left: 340px;
            top: 5px;
        }
    }
}




////////* GENERAL *////////

/* Navigation */

.navigationContainer {
    
    width: 100%;
    height: $navigationHeight;
    position: fixed;
    background-color: #fff;
    z-index: 999;

    .mobileNavigationContent {
        width: 100%;
        
        @include tablet() {
            display: none;
        }

        .visibleMobileNavigationContent {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 999;
            background-color: #fff;
            box-shadow: 0 .08em .5em rgba($color: #666666, $alpha: .3);

            .contentWrapper {
                width: $wrapperWidth;
                height: 100%;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;

                .burgerMenu {
                    float: right;
                    font-size: 30px;
                }
        
                p {
                    
                    text-transform: uppercase;
                    font-size: 25px;
                    margin: 0;
                }
            }
        }
        
        .invisibleMobileNavigationContent {
            width: 100%;
            height: min-content;
            background-color: #fff;
            position: absolute;
            
            transition: .8s ease-in-out;
            z-index: 998;
            padding-top: calc(#{$navigationHeight} + 10px);
            text-align: center;
            box-shadow: 0 .08em .5em rgba($color: #666666, $alpha: .3);

            .navigationLinkContainer {
                width: 80%;
                margin: 0 auto;
                border-bottom: 1px solid rgba($color: $grey, $alpha: .2);

                p {
                    margin: 5px 0 10px 0;
                    font-size: 20px;
                    font-weight: 100;
                    text-transform: uppercase;
                }
    
                .currentPage {
                    font-weight: 400;
                }
    
                .accountIcon {
                    font-size: 30px;
                    margin: 5px 0 10px 0;
                }
            }
        }
    }

    .navigationContent {

        width: 100%;
        height: 100%;
        display: none;
        box-shadow: 0 .08em .5em rgba($color: #666666, $alpha: .3);

        @include tablet() {
            display: block;
        }

        .contentWrapper {
            margin: 0 auto;
            width: $wrapperWidth;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
                text-transform: uppercase;
                font-size: 25px;
            }

            .navigationLinks {
                width: 45%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                p {
                    font-size: 18px;
                }

                .accountIcon {
                    width: 30px;
                    height: 30px;
                }

                .navigationLinkSeperator {
                    
                    @include desktop() {
                        display: none;
                    }
                }
            }
        }
    }
}



/* Home Page */



.homePage {
    position: relative;
    z-index: 1;
    width: 100%;
    min-height: 100vh;
    padding-top: calc(#{$navigationHeight} + 20px);
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;  */
    //position: relative;

    .userAccountIconContainer {
        position: absolute;
        top: 25px;
        right: 20px;

        .icon {
            font-size: 35px;
        }
    }

    .homePageWrapper {

        width: 100%;
        //margin: 40px 0;
        
    
        .welcomeContainer {
            
            width: $wrapperWidth;
            margin: 0 auto;
            margin-bottom: 1vh;

            @include tablet() {
                display: none;
            }

            .welcomeName {
                font-size: 2rem;
                margin: 0;
            }
    
            .welcomeMessage {
                font-size: 1rem;
                margin: 0;
            }
        }
    
        .latestRecipesContainer {
    
            width: 100%;
            //position: relative;
            /* position: relative;
            z-index: -1; */

            @include tablet() {
                
                text-align: center;
                
            }
            
            .latestRecipesText {

                padding-left: calc((100% - #{$wrapperWidth}) / 2);

                p {
                    margin: 0;
                    font-size: 20px;
                }

                @include tablet() {
                    
                    padding: 0;
                }

            }
    
            .latestRecipesScrollContainer {

                padding-left: calc((100% - #{$wrapperWidth}) / 2);
                overflow-y: scroll;
                scrollbar-width: none; /* For Firefox */
                -ms-overflow-style: none; /* For Internet Explorer and Edge */

                @include tablet() {
                    padding: 0;
                    overflow: visible;
                }
                    
                .latestRecipesScrollContent {
                        
                    display: flex;
                    width: min-content;
                    position: relative;
    
                    @include tablet() {
                        width: $wrapperWidth;
                        margin: 0 auto;
                        padding: 0;
                        justify-content: space-between;
                    }
    
                    @include tablet-portait() {
                        width: $wrapperWidthTabletPortait;
                        max-width: 1000px; 
                    }
    
                }
            }
        }

        .latestRecipesScrollContainer::-webkit-scrollbar {
            width: 0px; /* For Chrome, Safari, and Opera */
        }

        .currentListContainer {

            width: $wrapperWidth;
            margin: 10px auto;

            @include tablet() {
                margin: 0 auto;
            } 

            @include tablet-portait() {
                width: $wrapperWidthTabletPortait;
            }

            @include desktop() {
                display: none;
            }

            .currentListText {
                width: 100%;
                display: flex;
                align-items: center;

                @include tablet() {
                    width: fit-content;
                    margin: 0 auto;
                } 

                p {
                    margin: 0;
                    margin-right: 10px;
                    font-size: 20px;
                }
            }

            .homePageListContainer {
                margin-top: 10px;
            }
        }
    }
    

}



$size: 200px;
$sizeTablet: 175px;
$sizeDesktop: 19vw;
////////* LISTS *////////

/* List Widget */

.largListWidgetContainer {

    width: 100%;
    height: $size;
    margin: 10px 0;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 .2em 1em rgba($color: #666666, $alpha: .5);


    .listWidgetPicture {
        background-color: $grey;
        height: 80%;
        border-radius: 20px;
        background-position: center;
    }

    .listWidgetInfoContainer {

        height: 20%;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .listName {
            margin: 0;
        }

        .listItemCountContainer {
            width: 25px;
            height: 25px;
            background-color: #F7F9FC;
            border-radius: 15px;
            box-shadow: 0 .2em 1em rgba($color: #666666, $alpha: .5);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
        }
    }
}

.listWidgetContainer {

    width: calc(#{$size} - (#{$size} * 0.3));
    height: $size;
    margin: 10px 0;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 .2em 1em rgba($color: #666666, $alpha: .5);


    .listWidgetPicture {
        background-color: $grey;
        height: 80%;
        border-radius: 20px;
        background-position: center;
    }

    .listWidgetInfoContainer {

        height: 20%;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .listNameContainer {
            width: 70%;
            height: 100%;
            overflow: scroll;
            display: flex;
            //justify-content: center;
            align-items: center;
            padding: 0;
            scrollbar-width: none; /* For Firefox */
            -ms-overflow-style: none; /* For Internet Explorer and Edge */

            .listName {
                white-space: nowrap;
                margin: 0;
            }
        }

        .listNameContainer::-webkit-scrollbar {
            width: 0px; /* For Chrome, Safari, and Opera */
        }

        .listItemCountContainer {
            width: 25px;
            height: 25px;
            background-color: #F7F9FC;
            border-radius: 15px;
            box-shadow: 0 .2em 1em rgba($color: #666666, $alpha: .5);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
        }
    }
}

/* List Overview Page */

//see recipe overview page!!!





////////* RECIPES *////////

/* Recipe Page */
$recipePictureHeight: 30vh;
$sectionMargin: 30px 0;
$recipeNameContainerHeight: 9vh;
.recipePage {
    
    width: 100%;
    //min-height: fit-content;
    position: relative;

    input {

        height: 20px;
        border: none;
        border-bottom: rgba($color: #666666, $alpha: .3) 1px solid;


        &:focus {
            outline: none;
        }

        &::placeholder {
            opacity: .5;
        }
    }

    textarea {
        width: 100%;
        height: fit-content;
        border: none;
        margin-top: 10px;
        border-bottom: rgba($color: #666666, $alpha: .3) 1px solid;

        &:focus {
            outline: none;
        }
    }

    .recipePictureContainer {
        width: 100%;
        height: $recipePictureHeight;
        position: fixed;
        padding-top: $navigationHeight;
        z-index: 1;

        @include desktop() {
            position: relative;
            padding: 0;
        }
    }

    .recipeContentContainer {
        width: 100%;
        height: max-content;
        min-height: calc(100vh - (#{$navigationHeight} + (#{$recipePictureHeight} * 0.8)));
        border-radius: 30px;
        position: absolute;
        background-color: #fff;
        margin-top: calc(#{$navigationHeight} + (#{$recipePictureHeight} * 0.8));
        z-index: 2;

        @include desktop() {
            position: relative;
            margin: 0;   
            border-radius: 0;
            background-color: #F7F9FC;
        }

        .recipeContentWrapper {
            width: 85%;
            margin: 25px auto;

            @include desktop() {
                margin: 0 auto;   
            }

            /* Generell Css */

            .recipeSubheading {
                font-weight: 600;
            }
            
            .recipeNormalText {
                font-size: 14px;
            }

            .recipeHeader {

                @include desktop() {
                    position: absolute;  
                    //top: -48.5px;
                    top: calc(( #{$recipeNameContainerHeight} / -2 ) - 5px); //hidden scrollbar in type container has a total height of 10 px -> take half to center it!
                    left: 0;
                    display: flex;
                }

                .recipeHeaderFlexContainer {

                    display: flex;
                    justify-content: space-between;

                    .recipeNameContainer {

                        width: 70%;
                        display: flex;
                        overflow: hidden;
                        align-items: center;
                        
                        @include tablet() {
                            width: 80%;
                        }

                        @include tablet-portait() {
                            width: 85%;
                        }

                        @include desktop() {
                            background-color: #fff;
                            width: 33vw;
                            height: $recipeNameContainerHeight;
                            padding-left: 7.5vw;
                            padding-top: 10px;
                            //padding-bottom: 10px;
                            border-top-right-radius: $recipeNameContainerHeight;
                            border-bottom-right-radius: $recipeNameContainerHeight;
                            box-shadow: $boxShadow;
                        }

                        .recipeNameEditView {

                            width: 100%;
                            height: 100%;
                            margin-bottom: 10px;

                            .editRecipeNameNormalView {

                                @include desktop() {
                                    display: none;
                                }
                            }
    
                            .editRecipeNameDesktopView {
                                
                                width: 100%;
                                height: 100%;
                                display: none;
    
                                @include desktop() {
                                    display: block;
                                }
    
                                .editRecipeNameFlexContainer {
                                    height: 50%;
                                    display: flex;
                                    align-items: center;
    
                                    p {
                                        width: 40%;
                                    }

                                    input {
                                        width: 45%;
                                    }
                                }
                            }
                        }

                        
    
                        .recipeName {
                            font-size: 18px;
                            font-weight: 600;

                            @include tablet() {
                                font-size: 20px;
                                font-weight: 600;
                            }
                        }

                        .garnishName {

                            @include tablet() {
                                font-size: 17px;
                            }
                        }

                        .recipeTypeContainer {
                            margin: 0;
                            padding: 0;
                            width: 100%;
                            overflow: scroll;
                            display: flex;
                            scrollbar-width: none; /* For Firefox */
                            -ms-overflow-style: none; /* For Internet Explorer and Edge */

                            @include desktop() {
                                width: 70%;
                            }
        
                            .recipeType {
                                
                                font-size: 10px;
                                font-weight: 200;
                                margin-right: 10px;
        
                                @include tablet() {
                                    font-size: 12px;
                                    font-weight: 200;
                                    margin-top: 5px;
                                }
                            }
                        }

                        .recipeTypeContainer::-webkit-scrollbar {
                            width: 0px; /* For Chrome, Safari, and Opera */
                        }
    
                    }
                    
                    .recipeButtons {

                        display: flex;
                        
                        @include desktop() {
                            //display: block;
                            position: absolute;
                            right: -59vw;
                            top: calc( -1 * (#{$recipePictureHeight} - #{$navigationHeight}) * 0.65 )
                        }

                        .recipePageIcon {
                            font-size: 25px;
                            transform: rotate(90deg);

                            @include desktop() {
                                font-size: 22px;
                            }
                        }
    
                        $recipeBageButtonSize: 5.5vh;
                        .changeRecipeButton, .exitRecipePageButton{

                            margin-left: 15px;

                            @include desktop() {
                                width: $recipeBageButtonSize;
                                max-width: 50px;
                                height: $recipeBageButtonSize;
                                max-height: 50px;
                                border-radius: calc(#{$recipeBageButtonSize} / 2);
                                background-color: #fff;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                box-shadow: $boxShadow;
                                margin: 0 10px;
                            }
                        }
                    }

                    .exitEditViewButton {
                        @include desktop() {
                            //display: block;
                            right: -39vw;
                        }
                    }
                }

                .editRecipeTypeDesktopView {
                    width: 100%;
                    display: none;

                    @include desktop() {
                        display: block;
                    }
                }

            }

            .recipeInfoSection {
                display: flex;
                justify-content: space-around;
                margin: $sectionMargin;

                @include desktop() {
                    margin: 0 auto; 
                    width: 20%;
                    position: absolute;
                    right: 5vw;
                    top: calc(#{$recipeNameContainerHeight} / -2);
                    z-index: 2;  
                }
            }

            $sectionsPadding: 4.5vh;
            .changeRecipeInfoSection {

                width: 100%;

                

                .editSmallScreenView {

                    @include tablet() {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        //padding-top: $sectionsPadding;
                    } 
    
                    @include desktop() {
                        display: none;
                    }
                    width: 100%;

                    .changeRecipeInfoInputContainer {
                        width: 100%;
                        margin: 40px 0;
    
                        @include tablet() {
                            width: 45%;
                        }                    
    
                        input {
                            margin-top: 10px;
                            width: 60%;
    
                            @include tablet() {
                                width: 90%;
                            } 
                        }
    
                    }
                }

                
                
            }

            .recipeMainSection {
                $sectionWidth: 28%;
                $sectionMaxHeight: 55vh;
                $sectionParagraphMaxHeight: 50vh;
                $sectionInnerPadding: 1.8%;
                $borderRadius: 25px;
                $addRecipeButtonHeight: 35px;

                @include desktop() {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    padding-top: $sectionsPadding;
                }

                .recipeAboutSection {

                    margin: $sectionMargin;
                    text-align: justify;

                    @include desktop() {
                        width: $sectionWidth;
                        height: fit-content;
                        max-height: $sectionMaxHeight;
                        background-color: #fff;
                        padding: $sectionInnerPadding;
                        box-shadow: $boxShadow;
                        border-radius: $borderRadius;
                        
                    }

                    .recipeNormalText {

                        @include desktop() {
                            max-height: $sectionParagraphMaxHeight;
                            overflow: scroll;

                            scrollbar-width: none; /* For Firefox */
                            -ms-overflow-style: none; /* For Internet Explorer and Edge */
                        }
                        
                    }

                    .recipeNormalText::-webkit-scrollbar {
                        width: 0px; /* For Chrome, Safari, and Opera */
                    }
                }

                
    
                .recipeIngredientsSection {
    
                    margin: $sectionMargin;

                    @include desktop() {
                        width: $sectionWidth;
                        height: fit-content;
                        max-height: $sectionMaxHeight;
                        background-color: #fff;
                        padding: $sectionInnerPadding;
                        box-shadow: $boxShadow;
                        border-radius: $borderRadius;
                    }

                    .recipeIngredientsContainer {

                        @include desktop() {
                            max-height: calc(#{$sectionParagraphMaxHeight} - #{$addRecipeButtonHeight});
                            overflow: scroll;

                            scrollbar-width: none; /* For Firefox */
                            -ms-overflow-style: none; /* For Internet Explorer and Edge */
                        }
                        
                    }

                    .recipeIngredientsContainer::-webkit-scrollbar {
                        width: 0px; /* For Chrome, Safari, and Opera */
                    }
    
                    .addRecipeButton {
                        width: 35%;
                        margin: 0 auto;
                        box-shadow: $boxShadow;
                        height: $addRecipeButtonHeight;
                        border-radius: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
    
                        p {
                            font-size: 14px;
                            font-weight: 600;
                        }
                    }
                }
    
                .recipeInstructionsSection {
                    margin: $sectionMargin;
                    text-align: justify;

                    @include desktop() {
                        width: $sectionWidth;
                        height: fit-content;
                        max-height: $sectionMaxHeight;
                        background-color: #fff;
                        padding: $sectionInnerPadding;
                        box-shadow: $boxShadow;
                        border-radius: $borderRadius;
                        
                    }

                    .recipeNormalText {
                        @include desktop() {
                            max-height: $sectionParagraphMaxHeight;
                            overflow: scroll;

                            scrollbar-width: none; /* For Firefox */
                            -ms-overflow-style: none; /* For Internet Explorer and Edge */
                        }
                    }

                    .recipeNormalText::-webkit-scrollbar {
                        width: 0px; /* For Chrome, Safari, and Opera */
                    }
                }

                
            }

            
        }
    }
}

/* Recipe Info Component */
$recipeInfoContainerSize: 50px;
$recipeInfoDesktopContainerSize: 70px;
.recipeInfoComponent {

    text-align: center;
    width: fit-content;

    .recipeInfoValueContainer {

        width: $recipeInfoContainerSize;
        height: $recipeInfoContainerSize;
        border-radius:  calc(#{$recipeInfoContainerSize} / 2);
        background-color: #fff;
        box-shadow: $boxShadow;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

        @include tablet() {
            width: calc(#{$recipeInfoContainerSize} * 2);
            height: calc(#{$recipeInfoContainerSize} * 2);
            border-radius:  calc((#{$recipeInfoContainerSize} * 2) / 2);
        }

        @include desktop() {
            width: $recipeInfoDesktopContainerSize;
            height: $recipeInfoDesktopContainerSize;
            border-radius:  calc(#{$recipeInfoDesktopContainerSize} / 2);
        }

        .recipeInfoValue {
            font-weight: 600;

            @include tablet() {
                font-size: 20px;
            }

            @include desktop() {
                font-size: 18px;
            }
        }

    }

    .recipeInfoName {
        padding: 5px 0px;
        font-size: 12px;

        @include tablet() {
            font-size: 15px;
        }

        @include desktop() {
            font-size: 12px;
        }
    }
}

/* Recipe Ingredient Component */
$addButtonSize:23px;
.recipeIngredientComponent {

    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex; 
    justify-content: space-between;
    align-items: center;

    input {
        width: 100%;
    }

    /* Generell CSS */

    .recipeIngredientParagraph {
        font-size: 14px;
    }

    .ingredientNameContainer {

        width: 40%;
        text-align: left;
        
    }

    .ingredientAmountContainer {

        width: 20%;
        text-align: center;
    }

    .recipeIngredientButton {

        width: $addButtonSize;
        height: $addButtonSize;
        box-shadow: $boxShadow;
        border-radius: calc(#{$addButtonSize} / 2);
        display: flex;
        justify-content: center;
        align-items: center;

    }

}


$smallRecipeTypeContainerSize: 10px;
/* Recipe Type Container Component */
.editRecipeTypesContainer {
    

    @include desktop() {
        width: 20vw;
        max-width: 500px;
    }


    .editRecipeFlexBox {

        display: flex;
        justify-content: space-between;
        ///width: 50%;

        .editRecipeTypes {
            display: flex;
            width: 80%;
            overflow: scroll;

            scrollbar-width: none; /* For Firefox */
            -ms-overflow-style: none; /* For Internet Explorer and Edge */
        }

        .editRecipeTypes::-webkit-scrollbar {
            width: 0px; /* For Chrome, Safari, and Opera */
        }

        .addRecipeTypeButton {
            //width: fit-content;
            //width: ;
            background-color: #fff;
            padding: $smallRecipeTypeContainerSize;
            margin: $smallRecipeTypeContainerSize;
            border-radius: calc(#{$smallRecipeTypeContainerSize} * 5);
            box-shadow: $lightBoxShadow;

            @include desktop() {
                padding: $smallRecipeTypeContainerSize;
                margin-bottom: calc(#{$smallRecipeTypeContainerSize} / 2);
                margin-top: calc(#{$smallRecipeTypeContainerSize} / 2);
            }
        }
    }

    .allTypesContainer {
        //width: 50%;
        display: flex;
        overflow: scroll;
        border-top: 1px dotted rgba($color: #666666, $alpha: .3);
        scrollbar-width: none; /* For Firefox */
        -ms-overflow-style: none; /* For Internet Explorer and Edge */
    }

    .allTypesContainer::-webkit-scrollbar {
        width: 0px; /* For Chrome, Safari, and Opera */
    }
    
}


/* Recipe Type Component */
.editRecipeTypeContainer {
    width: fit-content;
    font-size: 12px;
    padding: $smallRecipeTypeContainerSize;
    margin: $smallRecipeTypeContainerSize;
    border-radius: calc(#{$smallRecipeTypeContainerSize} * 5);
    box-shadow: $lightBoxShadow;
    background-color: #fff;

    @include desktop() {
        margin-bottom: calc(#{$smallRecipeTypeContainerSize} / 2);
        margin-top: calc(#{$smallRecipeTypeContainerSize} / 2);
    }
}


/* Recipe Overview Page */

.recipeOverviewPage, .listOverviewPage {

    width: 100%;
    padding-top: calc(#{$navigationHeight} + 20px);

    .recipeOverviewPageWrapper, .listOverviewPageWrapper {
        //width: $wrapperWidth;
        margin: 0 auto;
        //padding-left: calc((100% - #{$wrapperWidth}) / 2);
        //width: calc(100% - (100% - #{$wrapperWidth}) / 2);

        .filterSettingsContainer {
            width: $wrapperWidth;
            //height: 100vh;
            margin: 0 auto;
            position: relative;

            .filterTitle {
                font-size: 2rem;
    
                @include tablet() {
                    width: fit-content;
                    margin: 0 auto;
                }
            }
    
            .filterDescription {
    
                @include tablet() {
                    width: fit-content;
                    margin: 0 auto;
                }
            }

            
            .filterButtonContainer {

                //width: 80%;
                height: fit-content;
                max-height: 65vh;
                overflow: scroll;
                margin-top: 20px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                scrollbar-width: none; /* For Firefox */
                -ms-overflow-style: none; /* For Internet Explorer and Edge */

                @include tablet() {
                    width: calc(#{$wrapperWidth} * 0.8);
                    margin: 0 auto;
                }

            }

            .filterButtonContainer::-webkit-scrollbar {
                width: 0px; /* For Chrome, Safari, and Opera */
            }

            .closeIcon {
                font-size: 30px;
                position: absolute;
                top: 0;
                right: 0;
                
                
            }

            $filterButtonSize: 45px;
            $biggerFilterButtonSize: 55px;
            .resetButtonContainer {
                
                width: $filterButtonSize;
                height: $filterButtonSize;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: calc(#{$filterButtonSize} / 2);
                background-color: $grey;
                margin: 10px;
                position: absolute;
                right: 0;
                top: 50vh;

                @include tablet() {
                    border-radius: calc(#{$biggerFilterButtonSize} / 2);
                    width: $biggerFilterButtonSize;
                    height: $biggerFilterButtonSize;
                }

                .resetIcon {
                    font-size: 20px;
                    stroke: #fff;
                }
            }

            .activateButtonContainer {
                width: $filterButtonSize;
                height: $filterButtonSize;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: calc(#{$filterButtonSize} / 2);
                background-color: $grey;
                margin: 10px;
                position: absolute;
                right: 0;
                top: 58vh;

                @include tablet() {
                    border-radius: calc(#{$biggerFilterButtonSize} / 2);
                    width: $biggerFilterButtonSize;
                    height: $biggerFilterButtonSize;
                }

                .activateIcon {
                    font-size: 20px;
                    stroke: #fff;
                }
            }
        }


        .pageTitle {
            font-size: 2rem;
            width: $wrapperWidth ;
            margin: 0 auto;

            @include tablet() {
                width: fit-content;
            }

        }

        .searchContainer {

            width: $wrapperWidth;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include tablet() {
                width: calc(#{$wrapperWidth} / 2.5);
            }

            input {
                border-radius: 20px;
                border: 0;
                width: 80%;
            }

            input:focus {
                outline: none;
            }

            .search {
                width: 85%;
                height: 30px;
                background-color: #fff;
                border-radius: 25px;
                box-shadow: 0 .2em 1em rgba($color: #666666, $alpha: .5);
                display: flex;
                justify-content: space-around;
                align-items: center;
            }

            .searchWide {
                width: 100%;
            }

            .filterIconContainer {
                background-color: #fff;
                border-radius: 25px;
                height: 30px;
                width: 30px;
                box-shadow: 0 .2em 1em rgba($color: #666666, $alpha: .5);
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .recipesScrollContainer, .listsScrollContainer {
            width: 100%;
            height: 55vh;
            overflow: scroll;
            margin: 20px auto;

            scrollbar-width: none; /* For Firefox */
            -ms-overflow-style: none; /* For Internet Explorer and Edge */
            
            //padding-left: calc((100% - #{$wrapperWidth}) / 2);
            
            @include tablet() {
                padding: 20px;
                width: calc(#{$wrapperWidth});
                height: 70vh;

                .recipeWidgetContainer {
                    margin: 10px;
                }
            }

            @include tablet-portait() {
                height: 60vh;
            }

            @include desktop() {
                width: calc(#{$wrapperWidth} * 0.8);
            }


            .recipesScrollContent, .listsScrollContent {
                overflow: visible;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
            }
        }

        .recipesScrollContainer::-webkit-scrollbar {
            width: 0px; /* For Chrome, Safari, and Opera */
        }

        .quoteContainer {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;

            p {
                font-size: 12px;
                opacity: .5;
            }

            .horizontalLine {
                width: 10%;
                height: 1px;
                background-color: $grey;
                opacity: .3;
            }
        }

    }
    
}

/* Recipe Filter Button */

.filterButton {
    width: 100px;
    height: 100px;
    margin: 15px;
    background-color: #fff;
    box-shadow: 0 .1em .6em rgba($color: #666666, $alpha: .4);
    border-radius: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.selectedFilterButton {
    background-color: $grey;

    p {
        color: #fff;
    }
}


/* Recipe Widget */




.recipeWidgetContainer {

    width: calc(#{$size} - (#{$size} * 0.3));
    height: $size;
    margin: 10px 10px 20px 10px;
    border-radius: calc(#{$size} / 15);
    box-shadow: 0 .2em 1em rgba($color: #666666, $alpha: .5);
    background-color: #fff;
    position: relative;
    overflow: hidden;

    @include tablet() {
        width: calc(#{$sizeTablet} - (#{$sizeTablet} * 0.3));
        height: $sizeTablet;
        border-radius: calc(#{$sizeTablet} / 15);
        margin: 0;
    }

    @include desktop() {
        width: calc(#{$sizeDesktop} - (#{$sizeDesktop} * 0.3)); 
        max-width: calc(#{$size} - (#{$size} * 0.3));;
        height: $sizeDesktop;
        max-height: $size;
        border-radius: calc(#{$sizeDesktop} / 20);
    }

    

    .recipeWidgetPicture {
        height: 45%;
        border-radius: calc(#{$size} / 15);
        background-color: $grey;

        @include tablet() {

            border-radius: calc(#{$sizeTablet} / 15);
        }
    
        @include desktop() {

            border-radius: 0;
        }
    }

    .recipeWidgetInfoContainer {

        width: 85%;
        height: 48%;
        padding-top: 8%; 
        padding-bottom: 2%;
        margin: 0 auto;
        text-align: start;
        

        .recipeWidgetNameContainer {

            height: 70%;
            overflow: scroll;
            scrollbar-width: none; /* For Firefox */
            -ms-overflow-style: none; /* For Internet Explorer and Edge */

            .recipeName {
                width: 80%;
                font-weight: 600;
                font-size: calc(#{$size} / 16.5);
                margin: 0;

                @include tablet() {
                    font-size: calc(#{$sizeTablet} / 14);
                }

                @include desktop() {
                    font-size: calc(#{$sizeTablet} / 12.5);
                }
            }

            .recipeGarnishName {
                font-size: calc(#{$size} / 21);
                margin: 0;

                @include desktop() {
                    font-size: calc(#{$sizeTablet} / 13.5);
                }
            }
        }

        .recipeWidgetNameContainer::-webkit-scrollbar {
            width: 0px; /* For Chrome, Safari, and Opera */
        }
  
    
        .recipeWidgetInfoIconsContainer {

            height: 30%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .cookingTimeContainer {

                display: flex;

                .cookingTimeIcon {
                    width: calc(#{$size} / 12);
                    height: calc(#{$size} / 12);
                }

                .passive {
                    color: #aaaaaa;
                }
            }

            .recipeTypeContainer {

                .recipeTypeIcon {
                    width: calc(#{$size} / 12);
                    height: calc(#{$size} / 12);
                }
            }
            
        }  
    }  
}


/* Day Recipe */

.dayRecipeContainer {
    width: 100%;
    height: max-content;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 .2em 1em rgba($color: #666666, $alpha: .5);
    position: relative;
    z-index: 1;
    margin: 10px 0;
    
    

    @include tablet() {
        width: 80%;
        margin: 10px auto;
    }

    .backgroundFiller {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        background-color: #fff;
        opacity: .8;
        z-index: -2; 
        
    }

    .receipeNormalInfo {

        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: start;
        //margin: 10px 0;

        .recipeInfo {
            color: $grey;
            margin: 9px 0px 9px 10px;
            width: 50%;
            overflow: hidden;
            z-index: 3;
    
            p {
                margin: 0;
            }
    
            .recipeName {
                font-weight: 600;
            }
    
            .garnishName {
                max-height: 20px;
                font-size: 15px;
            }
        }
    
        .deleteIcon {
            font-size: 20px;
            margin-right: 10px;
        }

    }

    .recipeDetailInfo {
        width: min-content;
        height: max-content;
        background-color: #fff;
        min-width: 70%;
        max-width: 80%;
        border-radius: 12px;
        
        @include desktop() {
            min-width: 50%;
        }

        .recipeHeaderContainer {
            height: 100%;
            margin: 0px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: start;
            position: relative;
            

            .recipeInfo {
                height: 70%;
                //min-width: 50%;
                max-width: 70%;
                padding-right: 10px;
                margin-top: 20px;
                overflow: hidden;
                

                p {
                    margin: 0;
                }

                .recipeName {
                    font-weight: 600;
                }
        
                .garnishName {
                    //overflow: scroll;
                    font-size: 12px;
                }

                
            }

            .closeIcon {
                position: absolute;
                font-size: 20px;
                //margin-left: 20px;
                top: 20px;
                right: 0px;
            }
        }

        .recipeBodyContainer {
            
            margin: 0px 20px;
            text-align: start;

            .recipeBodyTitle {
                margin-top: 30px ;
                font-weight: 600;
                font-size: 15px;
            }

            .ingredientsContainer {

                width: 100%;

                .ingredientsTitel {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    

                    p {
                        margin: 0;
                        margin-bottom: 20px;
                        font-weight: 100;
                        font-size: 12px;
                    }
                }

                .ingedirentContent {
                    display: flex;
                    justify-content: space-between;

                    p {
                        margin: 0;
                        margin-bottom: 20px;
                        //font-weight: 100;
                        font-size: 12px;
                    }
                }

            }
        }

    }

    
}

/* AddDayRecipe Component */

.addDayRecipeContainer {
    width: 100%;
    height: 45px;
    background-color: #fff;
    box-shadow: 0 .2em 1em rgba($color: #666666, $alpha: .5);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet() {
        width: 80%;
        margin: 10px auto;
    }

    .addIcon {
        opacity: .8;
        font-size: 25px;
    }
}




////////* WEEK *////////

/* Week Component */

.weekPlanContainer {

    width: 100%;

    @include tablet() {
        margin: 0;
        padding: 0;
    }

    .weekDaysScollContainer {
        overflow: scroll;
        scrollbar-width: none; /* For Firefox */
        -ms-overflow-style: none; /* For Internet Explorer and Edge */
        padding-left: calc((100% - #{$wrapperWidth}) / 2);

        @include tablet() {
            overflow: visible;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        .yourWeekText {
            display: none;

            p {
                margin: 0;
                font-size: 20px;
            }
            

            @include tablet() {
                display: block;
                width: 100%;
                text-align: center;
            }
        }

        .weekDaysScollContent {

            display: flex;
            width: min-content;

            @include tablet() {
                
                width: $wrapperWidth;
                margin: 0 auto;
                justify-content: space-between;
                 
            }

            @include tablet-portait() {
                width: $wrapperWidthTabletPortait;
            }

        }

        .weekDaysSmallList {

            display: none;

            @include desktop() {
                width: $wrapperWidthTabletPortait;
                display: flex;
                margin: 0 auto;
                justify-content: right;
                align-items: center;

                p {
                    margin-right: 10px;
                }
            }

        }

        @include tablet() {
            padding: 0;
            text-align: center;
        }
    }

    .weekDaysScollContainer::-webkit-scrollbar {
        width: 0px; /* For Chrome, Safari, and Opera */
    }

    .weekDayFoodTimeContainer {

        width: $wrapperWidth;
        margin: 0 auto;
        text-align: center;

        @include tablet() {
            width: 70%;
        }

        .selectedDayName{
            margin: 0;
            font-weight: 600;
            font-size: 18px;
        }

        .weekDayFoodTimeButtonContainer {
            display: flex;
            justify-content: space-between;
            margin: 20px 0;

            p {
                font-size: 13px;
            }
        }

        .weekFoodTimeCloseButton {
            font-size: 28px;
            margin-bottom: 30px;
        }
    }

}


/* Week Button Components */

.deleteWeekRecipesButton {

    .icon {
        font-size: 20px;
        color: #B23030;
    }
    
}

.sendWeekRecipesButton {

    .icon {
        font-size: 20px;
        color: #658B0F;
    }

}


/* Day Component */

.dayContainer {

    width: 70px;
    height: 100px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 .2em 1em rgba($color: #666666, $alpha: .5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 8px;

    @include tablet() {
        width: 60px;
        height: 90px;
        margin: 0;
    }

    @include desktop() {
        width: 70px;
        height: 100px;
    }

    p {
        @include tablet() {
            font-size: 14px;
        }
    }

}

.selectedDayContainer {

    background-color: $grey;

    p {
        color: #fff;
    }
}


/* Foode Time Component */

.foodTimeContainer {

    width: 100px;
    height: 100px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 .2em 1em rgba($color: #666666, $alpha: .5);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.selectedFoodTimeContainer {

    background-color: $grey;

    p {
        color: #fff;
    }
}

