/* Media Query Breakpoint Variables */
/* Mixings (Breakpoints) */
* {
  color: #666666;
}

body {
  background-color: #F7F9FC;
}

a {
  text-decoration: none;
  font-weight: bold;
}

/* Login & Register & Forgot Password */
.loginPage, .registerPage, .forgotPasswordPage {
  width: 100%;
  min-height: 100vh;
  background-color: #F7F9FC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.loginPage .wrapperLogin, .loginPage .wrapperRegister, .loginPage .wrapperForgotPassword, .registerPage .wrapperLogin, .registerPage .wrapperRegister, .registerPage .wrapperForgotPassword, .forgotPasswordPage .wrapperLogin, .forgotPasswordPage .wrapperRegister, .forgotPasswordPage .wrapperForgotPassword {
  width: 100%;
  text-align: center;
  margin-bottom: 5vh;
}

@media screen and (min-width: 481px) {
  .loginPage .wrapperLogin, .loginPage .wrapperRegister, .loginPage .wrapperForgotPassword, .registerPage .wrapperLogin, .registerPage .wrapperRegister, .registerPage .wrapperForgotPassword, .forgotPasswordPage .wrapperLogin, .forgotPasswordPage .wrapperRegister, .forgotPasswordPage .wrapperForgotPassword {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 840px) {
  .loginPage .wrapperLogin, .loginPage .wrapperRegister, .loginPage .wrapperForgotPassword, .registerPage .wrapperLogin, .registerPage .wrapperRegister, .registerPage .wrapperForgotPassword, .forgotPasswordPage .wrapperLogin, .forgotPasswordPage .wrapperRegister, .forgotPasswordPage .wrapperForgotPassword {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1025px) {
  .loginPage .wrapperLogin, .loginPage .wrapperRegister, .loginPage .wrapperForgotPassword, .registerPage .wrapperLogin, .registerPage .wrapperRegister, .registerPage .wrapperForgotPassword, .forgotPasswordPage .wrapperLogin, .forgotPasswordPage .wrapperRegister, .forgotPasswordPage .wrapperForgotPassword {
    margin-bottom: 0;
  }
}

.loginPage .wrapperLogin .logoImg, .loginPage .wrapperRegister .logoImg, .loginPage .wrapperForgotPassword .logoImg, .registerPage .wrapperLogin .logoImg, .registerPage .wrapperRegister .logoImg, .registerPage .wrapperForgotPassword .logoImg, .forgotPasswordPage .wrapperLogin .logoImg, .forgotPasswordPage .wrapperRegister .logoImg, .forgotPasswordPage .wrapperForgotPassword .logoImg {
  display: none;
  width: 40%;
}

@media screen and (min-width: 840px) {
  .loginPage .wrapperLogin .logoImg, .loginPage .wrapperRegister .logoImg, .loginPage .wrapperForgotPassword .logoImg, .registerPage .wrapperLogin .logoImg, .registerPage .wrapperRegister .logoImg, .registerPage .wrapperForgotPassword .logoImg, .forgotPasswordPage .wrapperLogin .logoImg, .forgotPasswordPage .wrapperRegister .logoImg, .forgotPasswordPage .wrapperForgotPassword .logoImg {
    display: none;
  }
}

@media screen and (min-width: 1025px) {
  .loginPage .wrapperLogin .logoImg, .loginPage .wrapperRegister .logoImg, .loginPage .wrapperForgotPassword .logoImg, .registerPage .wrapperLogin .logoImg, .registerPage .wrapperRegister .logoImg, .registerPage .wrapperForgotPassword .logoImg, .forgotPasswordPage .wrapperLogin .logoImg, .forgotPasswordPage .wrapperRegister .logoImg, .forgotPasswordPage .wrapperForgotPassword .logoImg {
    display: inline-block;
    width: 20em;
  }
}

.loginPage .wrapperLogin .loginText, .loginPage .wrapperRegister .loginText, .loginPage .wrapperForgotPassword .loginText, .registerPage .wrapperLogin .loginText, .registerPage .wrapperRegister .loginText, .registerPage .wrapperForgotPassword .loginText, .forgotPasswordPage .wrapperLogin .loginText, .forgotPasswordPage .wrapperRegister .loginText, .forgotPasswordPage .wrapperForgotPassword .loginText {
  font-size: 2em;
  margin-top: .5em;
}

@media screen and (min-width: 481px) {
  .loginPage .wrapperLogin .loginText, .loginPage .wrapperRegister .loginText, .loginPage .wrapperForgotPassword .loginText, .registerPage .wrapperLogin .loginText, .registerPage .wrapperRegister .loginText, .registerPage .wrapperForgotPassword .loginText, .forgotPasswordPage .wrapperLogin .loginText, .forgotPasswordPage .wrapperRegister .loginText, .forgotPasswordPage .wrapperForgotPassword .loginText {
    font-size: 3em;
  }
}

.loginPage .wrapperLogin .infoText, .loginPage .wrapperRegister .infoText, .loginPage .wrapperForgotPassword .infoText, .registerPage .wrapperLogin .infoText, .registerPage .wrapperRegister .infoText, .registerPage .wrapperForgotPassword .infoText, .forgotPasswordPage .wrapperLogin .infoText, .forgotPasswordPage .wrapperRegister .infoText, .forgotPasswordPage .wrapperForgotPassword .infoText {
  margin: 0 auto;
  width: 80%;
}

@media screen and (min-width: 481px) {
  .loginPage .wrapperLogin .infoText, .loginPage .wrapperRegister .infoText, .loginPage .wrapperForgotPassword .infoText, .registerPage .wrapperLogin .infoText, .registerPage .wrapperRegister .infoText, .registerPage .wrapperForgotPassword .infoText, .forgotPasswordPage .wrapperLogin .infoText, .forgotPasswordPage .wrapperRegister .infoText, .forgotPasswordPage .wrapperForgotPassword .infoText {
    font-size: 1.4em;
  }
}

/* All Input Components Container */
.allInputsRegisterContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.allInputsLoginContainer {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* Input Component */
.inputContainer {
  width: 70%;
  margin: 1em auto;
  border-bottom: rgba(102, 102, 102, 0.3) 1px solid;
}

@media screen and (min-width: 481px) {
  .inputContainer {
    margin: 1em auto;
  }
}

@media screen and (min-width: 840px) {
  .inputContainer {
    width: 40%;
  }
}

@media screen and (min-width: 1025px) {
  .inputContainer {
    width: 40%;
    margin: 1.5em auto;
  }
}

.inputContainer input {
  width: 80%;
  height: 2em;
  background-color: #F7F9FC;
  text-align: center;
  border: none;
  position: relative;
  line-height: 2em;
  font-size: 1em;
}

.inputContainer input:focus {
  outline: none;
}

@media screen and (min-width: 481px) {
  .inputContainer input {
    line-height: 3em;
    height: 3em;
    font-size: 1.5em;
  }
}

@media screen and (min-width: 1025px) {
  .inputContainer input {
    height: 1.5em;
    line-height: 1.5em;
    font-size: 1.2em;
  }
}

.inputContainer input::-webkit-input-placeholder {
  opacity: .5;
}

.inputContainer input:-ms-input-placeholder {
  opacity: .5;
}

.inputContainer input::-ms-input-placeholder {
  opacity: .5;
}

.inputContainer input::placeholder {
  opacity: .5;
}

.inputContainer .icon {
  width: 15px;
  color: #666666;
  position: absolute;
  margin-top: .5em;
}

@media screen and (min-width: 481px) {
  .inputContainer .icon {
    height: 1.5em;
    width: 1.5em;
    margin-top: 1.5em;
  }
}

@media screen and (min-width: 1025px) {
  .inputContainer .icon {
    margin-top: 0;
  }
}

/* Submit Button */
.submitButtonContainer {
  width: 30%;
  height: 2.8em;
  margin: 2em auto;
  line-height: 2.5em;
  border-radius: 25px;
  -webkit-box-shadow: 0 0.2em 1em rgba(102, 102, 102, 0.5);
          box-shadow: 0 0.2em 1em rgba(102, 102, 102, 0.5);
}

@media screen and (min-width: 481px) {
  .submitButtonContainer {
    margin: 2.5em auto;
  }
}

@media screen and (min-width: 1025px) {
  .submitButtonContainer {
    width: 20%;
  }
}

.submitButtonContainer .icon {
  margin-top: .6em;
  height: 1.5em;
  width: 1.5em;
  color: #666666;
}

/* Info Component */
.infoContainer {
  width: 80%;
  margin: 0 auto;
  padding: .5em;
  position: relative;
  border: 1px #666666 solid;
  border-radius: 10px;
}

@media screen and (min-width: 1025px) {
  .infoContainer {
    width: 350px;
    font-size: 1em;
    position: absolute;
    z-index: 999;
    top: 5vh;
    right: 2vw;
    border: none;
    background-color: rgba(250, 102, 102, 0.3);
    -webkit-box-shadow: 0 0.2em 0.9em rgba(102, 102, 102, 0.5);
            box-shadow: 0 0.2em 0.9em rgba(102, 102, 102, 0.5);
  }
}

.infoContainer ol {
  line-height: 2em;
  margin: 0 auto;
}

@media screen and (min-width: 481px) {
  .infoContainer ol {
    margin: 1em auto;
    width: 70%;
    font-size: 1.2em;
  }
}

@media screen and (min-width: 1025px) {
  .infoContainer ol {
    width: 100%;
    font-size: .8em;
  }
}

.infoContainer .infoCloseIcon {
  position: absolute;
  left: 79vw;
  top: .5vh;
}

@media screen and (min-width: 481px) {
  .infoContainer .infoCloseIcon {
    font-size: 1.4em;
    left: 61.5vw;
    top: 1vh;
  }
}

@media screen and (min-width: 1025px) {
  .infoContainer .infoCloseIcon {
    font-size: 1.2em;
    left: 340px;
    top: 5px;
  }
}

/* Recipe Widget */
.recipeWidgetContainer {
  width: calc(30vh - (30vh * 0.3));
  height: 30vh;
  margin: 20px;
  border-radius: calc(30vh / 15);
  -webkit-box-shadow: 0 0.2em 1em rgba(102, 102, 102, 0.5);
          box-shadow: 0 0.2em 1em rgba(102, 102, 102, 0.5);
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.recipeWidgetContainer .recipeWidgetPicture {
  height: 45%;
  border-radius: calc(30vh / 15);
  background-color: #666666;
}

.recipeWidgetContainer .recipeWidgetInfoContainer {
  width: 85%;
  height: 48%;
  padding-top: 8%;
  padding-bottom: 2%;
  margin: 0 auto;
}

.recipeWidgetContainer .recipeWidgetInfoContainer .recipeWidgetNameContainer {
  height: 70%;
  overflow: scroll;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.recipeWidgetContainer .recipeWidgetInfoContainer .recipeWidgetNameContainer .recipeName {
  width: 80%;
  font-weight: 600;
  font-size: calc(30vh / 16.5);
  margin: 0;
}

.recipeWidgetContainer .recipeWidgetInfoContainer .recipeWidgetNameContainer .recipeGarnishName {
  font-size: calc(30vh / 21);
  margin: 0;
}

.recipeWidgetContainer .recipeWidgetInfoContainer .recipeWidgetNameContainer::-webkit-scrollbar {
  width: 0px;
  /* For Chrome, Safari, and Opera */
}

.recipeWidgetContainer .recipeWidgetInfoContainer .recipeWidgetInfoIconsContainer {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recipeWidgetContainer .recipeWidgetInfoContainer .recipeWidgetInfoIconsContainer .cookingTimeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recipeWidgetContainer .recipeWidgetInfoContainer .recipeWidgetInfoIconsContainer .cookingTimeContainer .cookingTimeIcon {
  width: calc(30vh / 12);
  height: calc(30vh / 12);
}

.recipeWidgetContainer .recipeWidgetInfoContainer .recipeWidgetInfoIconsContainer .cookingTimeContainer .passive {
  color: #aaaaaa;
}

.recipeWidgetContainer .recipeWidgetInfoContainer .recipeWidgetInfoIconsContainer .recipeTypeContainer .recipeTypeIcon {
  width: calc(30vh / 12);
  height: calc(30vh / 12);
}
/*# sourceMappingURL=style.css.map */